

* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      text-decoration: none;
      border: none;
      outline: none;
      scroll-behavior: smooth;
      font-family: 'Tektur', cursive;
}

:root {
      --bg-color: #1f242d;
      --secondary-bg-color: #323946;
      --text-color: #fff;
      --main-color: #0ef;
}

html {
      font-size: 62.5%;
      overflow-x: hidden;
}

body {
      background: var(--bg-color);
      color: var(--text-color);
}

section {
      min-height: 100vh;
      padding: 10rem 9% 2rem;
}

.header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem 9%;
      z-index: 100;
}

.logo {
      text-decoration: none;
      font-size:  2.5rem;
      color: var(--text-color);
      font-weight: 600;
      cursor: default;
}

.navbar a {
       text-decoration: none;
       font-size: 1.7rem;
       color: var(--text-color);
       margin-left: 4rem;
       transition: .3s;      
}

.navbar a:hover,
.navbar a.active {
      color: var(--main-color);
}

#menu-icon {
      font-size: 3.6rem;
      color: var(--text-color);
      display: none;
}

.home {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.home-img img {
     width: 35vw;
}

.home-content h3 {
      font-size: 3.5rem;
      font-weight: 700;     
}

.home-content h1 {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.3;
      
}

.home-content h3:nth-of-type(2) {
      margin-bottom: 2rem;
}

span {
      color: var(--main-color);
}

.social-media a {
      text-decoration: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      background: transparent;
      border: .2rem solid var(--main-color);
      border-radius: 50%;
      font-size: 2rem;
      color: var(--main-color);
      margin: 3rem 1.5rem 3rem 0;
      transition: .5s ease;
}

.social-media a:hover {
      background: var(--main-color);
      color: var(--secondary-bg-color);
      box-shadow: 0 0 1rem var(--main-color);
}

.btn {
      display: inline-block;
      padding: 1rem 2.8rem;
      background: var(--main-color);
      border-radius: 4rem;      
      font-size: 1.6rem;
      color: var(--secondary-bg-color);
      letter-spacing: .1rem;
      font-weight: 600;
      transition: .3s ease;
      text-align: center;
}

.btn:hover {
     box-shadow: 0 0 1rem var(--main-color);
}

.about {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      background: var(--secondary-bg-color);
}

.about-img img{
      width: 35vw;
}

.heading {
      text-align: center;
      font-size: 4.5rem;
}

.about-content h2 {
     text-align: left;
     line-height: 2.2;
}

.about-content h3 {
     font-size: 3.6rem;
}

.about-content p {
     font-size: 2.6rem;
     margin: 2rem 0 3rem;
}

.projects h2 {
      margin-bottom: 4rem;
}

.projects-container{
     gap: 3vw;  
}

.projects-container .projects-box{
      position: relative;
      border-radius: 2rem;
      box-shadow: 0 0 1rem var(--bg-color);
      overflow-x: hidden;
      overflow-y: hidden;
      width: 450px;
     height: 300px;
}

.projects-box img{
       filter: brightness(50%);
       max-width: 100%;
       transition: .5s ease;
}

.projects-box:hover img {
      transform: scale(1.1);
}

.projects-box .projects-layer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
      justify-content: center;
      text-align: center;
      padding: 0 4rem;
      transform: translateY(100%);
      transition: .5s ease;
}

.projects-box:hover .projects-layer {
      transform: translateY(0);
}

.projects-layer h4 {
      font-size: 3rem;
}

.projects-layer p {
      font-size: 1.6rem;
      margin: .3rem 0 1rem;
}

.projects-layer a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      background: var(--text-color);
      border-radius: 50%;
}

.tools {
      background: var(--secondary-bg-color);
}

.logo-pic {
      height: 150px;
      width:  150px;
      transition: .5s ease;
      background: var(--bg-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
      margin: 5px;
      border-radius: 50%;    
}


.logo-pic:hover {
      background: var(--main-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
      transform: rotate(225deg);
}

.contactUs {
      position: relative;
      width: 100%;
      padding: 40px 100px;
}

.contactUs .contact-title {
      display: flex;
      justify-content: center;
      align-items: center;
}

.form {
      grid-area: form;
}

.info {
      grid-area: info;
}

.map {
      grid-area: map;
}

.contact { 
      padding: 40px;
      background: white;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.box {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 5fr 4fr ;
      grid-template-areas:
      "form info"
      "form map";
      grid-gap: 20px;
      margin-top: 20px;
}


.contact h3{
      color: var(--secondary-bg-color);
      font-weight: 500;
      font-size: 2.4em;
      margin-bottom: 10px;
}

/*form*/
.formBox {
      position: relative;
      width: 100%;
      font-size: 1.4em;
}

.formBox .row50 {
      display: flex;
      gap: 20px;
}

.inputBox {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 50%;
}

.formBox .row100 .inputBox {
      width: 100%;
}

.inputBox span {
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: 500;
}

.inputBox input {
      padding: 10px;
      font-size: 1.1em;
      outline: none;
      border: 1px solid var(--secondary-bg-color);
}

.inputBox textarea {
      padding: 10px;
      font-size: 1.1em;
      outline: none;
      border: 1px solid var(--secondary-bg-color);
      resize: none;
      min-height: 220px;
      margin-bottom: 10px;
}

.inputBox input[type="submit"] {
      background: var(--main-color);
      color: var(--secondary-bg-color);
      border: none;
      font-size: 1.1em;
      max-width: 120px;
      font-weight: 500;
      cursor: pointer;
      padding: 14px 15px;
}

.inputBox ::placeholder {
      color: #999
}